body {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-color: #e4e4e7;
}

.title {
   margin-top: 10px;
   margin-bottom: 10px
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    gap: 150px;
}
.human-grid, .computer-grid {
    display: grid;
    grid-template-columns: repeat(10, 45px);
    grid-template-rows: repeat(10, 45px);
    
}

.human-grid > div, .computer-grid > div {
    border: solid 1px black;
}

.computer-grid > div:hover {
    background-color: #e4e4e7;
}

.square-ship {
    background-color: #71717a;
}